@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Typo */

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}

button {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

.emphasis {
    font-size: 16px;
    font-weight: bold;
}

@media all and (min-width: 500px) {
    .emphasis{
        font-size: 24px;
    } 

}

a, button {
    text-decoration: none;
}

nav > a {
    text-align: right;
}

/* Color Scheme */

body {
    background: #03000D;
    color: #fff; /* Becasue not all browsers work well with rgba */
    color: rgba(255, 255, 255, 0.87); 
}

header {
    background: #03000D;
}

.accent-1 {
    color: #FF00F7; /* spandex-magenta */
}

.accent-2 {
    color: #68B1B4; /* cyber-green */
}

.accent-3 {
    color: #FF621E; /* california-orange */
}

.accent-4 {
    color: #00FFDA; /* cosmic-latte */
}

a {
    color: rgba(255, 255, 255, 0.87); 
}

a.btn, button {
    color: #03000D;
}

nav > a:hover {
    color: #68B1B4;
}

.social a:hover {
    color: #FF621E; /* california-orange */
}


/* Structure */
body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +1;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}

.container { 
    display: flex;
    flex-direction: column;
}

.block {
    flex: 1;
    margin-bottom: 120px;

}

.empty-block {
    flex: 1;
}

@media all and (min-width: 1080px) {
    
    #about .container, #home .container {
        flex-direction: row;
    }

    .empty-block {
        flex: 1;
    }
}

.header-group {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

nav {
    display: flex;
    flex-direction: column;
    line-height: 32px;
}

article {
    padding-top: 150px; /* Push down from fixed header */
}

#contact {
    min-height: calc(100vh - 150px); /* Subtract article padding */
}

h2, h3, .paragroup {
    margin: 0 0 56px 0;    
}

#portfolio .container {
    align-items: center;
}

.project {
    flex: 1;
    max-width: 520px;
    margin: 0 3% 120px 3%;
}

.project img {    
    width: 100%;
    margin: 64px 0 24px 0;
}

.project h3 {
    text-align: center;
}

.center {
    display: flex;
    align-items: left;
}

.center a, .center button {
    margin: 8px;
}

.social {
    flex-direction: column;
}

@media all and (min-width: 1080px) {

    #portfolio .container {
        flex-direction: row;
    }
}

@media all and (min-width: 500px) {

    .email {
        margin: 150px 0;
    }

    .center {
            justify-content: center;
            align-items: center;
    }

    .social {
        flex-direction: row;
    }
}
/* Rulers */

hr {
    position: absolute;
    right: 0;
    background-image: url("images/hr.svg");
    background-repeat: none;
    width: 89%;
    height:44px;
    text-align: right;
    margin-right: auto;
    border: none;
}

hr.home {
    background-image: url("images/hr-big.svg");
    height:86px;
    margin-top: -120px;
}

/* Buttons */

a.btn, button {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 16px 0px;
    padding: 16px 0px;
    border: none;
}

.btn-sm {
    width: 88px;
}

.btn-md {
    width: 144px;
}

.btn-lg {
    width: calc(100% - 102px); /*288px*/
}

.btn::after, button::after {
    box-sizing: border-box;
    display: block;
    position: absolute;
    content:"";
    height: 100%;
    width: 100%;
    top: 8px;
    left: 6px;
    z-index: -1;
    border: 3px solid;
}

.btn-accent-1 {
    background-color: #FF00F7; /* spandex-magenta */
}

.btn-accent-1::after {
    border-color: #FF00F7; /* spandex-magenta */
}

.btn-accent-3 {
    background-color: #FF621E; /* california-orange */
}

.btn-accent-3::after {
    border-color: #FF621E; /* california-orange */
}

.btn-accent-4 {
    background-color: #00FFDA; /* california-orange */
}

.btn-accent-4::after {
    border-color: #00FFDA; /* california-orange */
}


