@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* Typo */

body,
button,
form input,
form textarea,
form button {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.emphasis {
  font-size: 16px;
  font-weight: bold;
}

@media all and (min-width: 500px) {
  .emphasis {
    font-size: 24px;
  }
}

a,
button {
  text-decoration: none;
}

/* 
 * Structure 
 */

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: +1;
}

article {
  padding-top: 150px; /* Anchors push down from fixed header */
}

#contact {
  /* Ensure Botton Anchor Starts at Top of Screen */
  min-height: calc(100vh - 150px); /* Subtract article padding */
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
}

.container {
  display: flex;
  flex-direction: column;
}

#portfolio .container,
#contact .container {
  align-items: center;
}

/* Children */

.block {
  flex: 1;
  margin-bottom: 120px;
}

.about-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project,
form {
  flex: 1;
  max-width: 520px;
  margin: 0 3% 120px 3%;
}

form {
  width: 100%;
  margin-top: 88px;
}

.project img {
  width: 100%;
  margin: 64px 0 24px 0;
}

.email {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.email a,
.email button,
.social a {
  margin: 16px;
}

.social {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.button-row {
  display: flex;
}

.button-row > * {
  margin-right: 16px;
}

.button-row > *:nth-last-child(1) {
  margin-right: 0;
}

@media all and (min-width: 1080px) {
  #about .container,
  #home .container,
  #portfolio .container {
    flex-direction: row;
  }

  #portfolio .container {
    justify-content: space-around;
    align-items: flex-start;
  }

  .about-right {
    margin-bottom: 120px;
  }
}

@media all and (min-width: 500px) {
  .email {
    /* margin: 120px 0; */
  }
}

/* Responsive header */

.header-group {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  line-height: 32px;
}

h1 {
  margin: 8px 0;
  text-align: center;
}

@media all and (min-width: 500px) {
  .header-group {
    justify-content: space-between;
    flex-direction: row;
  }

  nav ul {
    flex-direction: column;
    text-align: right;
  }
}

/* Text Elements */

h2,
h3,
.paragroup {
  margin: 0 0 56px 0;
}

@media all and (min-width: 1080px) {
  .project-desc {
    height: 20em;
  }
}

.project h3 {
  text-align: center;
}

li {
  list-style-type: none;
}

/* 
 * Rulers 
 */

.rule-container {
  position: relative;
}

hr {
  position: absolute;
  right: -32px;
  background-image: url("images/hr.svg");
  background-repeat: none;
  width: 89%;
  height: 44px;
  border: none;
}

hr.hr-home {
  background-image: url("images/hr_big.svg");
  height: 86px;
  margin-top: -120px;
}

hr.hr-sm {
  background-image: url("images/hr_sm.svg");
  height: 8px;
  width: 191px;
  position: relative;
  right: unset;
}

/* 
 * Buttons and Form Elements
 */

a.btn,
button {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px 0px;
  border: none;
}

.btn-sm {
  flex: 0 1 88px;
}

.btn-md {
  width: 144px;
}

.btn-lg {
  flex: 1 0;
}

.btn::after,
button::after {
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 8px;
  left: 6px;
  z-index: -1;
  border: 3px solid;
}

/* Other Form Elements*/

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 48px;
  padding: 8px;
  border: 2px solid;
}

form textarea {
  height: 120px;
}

form button {
  display: block;
  margin: auto;
}

/*
 * Images
 */

.self-photo {
  width: 300px;
  height: 300px;
  border: 1px solid #00ffda;
  border-radius: 180px;
}
.project-img {
  border: 1px solid;
}

/* 
 * Color Scheme 
 */

body {
  color: #fff; /* Becasue not all browsers work well with rgba */
  color: rgba(255, 255, 255, 0.87);
}

body,
header,
form input,
form textarea {
  /*Primary background color applied to these elements */
  background: #03000d;
}

form input,
form textarea {
  color: #00ffda;
  border-color: #68b1b4;
}

::placeholder {
  color: #68b1b4;
}

form input:focus,
form textarea:focus,
.project-img {
  border-color: #00ffda;
}

.accent-1 {
  color: #ff00f7; /* spandex-magenta */
}

.accent-2 {
  color: #68b1b4; /* cyber-green */
}

.accent-3 {
  color: #ff621e; /* california-orange */
}

.accent-4 {
  color: #00ffda; /* cosmic-latte */
}

a {
  color: rgba(255, 255, 255, 0.87);
}

a.btn,
button {
  color: #03000d;
}

nav a:hover {
  color: #68b1b4;
}

.social a:hover {
  color: #ff621e; /* california-orange */
}

.btn-accent-1 {
  background-color: #ff00f7; /* spandex-magenta */
}

.btn-accent-1::after {
  border-color: #ff00f7; /* spandex-magenta */
}

.btn-accent-3 {
  background-color: #ff621e; /* california-orange */
}

.btn-accent-3::after {
  border-color: #ff621e; /* california-orange */
}

.btn-accent-4 {
  background-color: #00ffda; /* california-orange */
}

.btn-accent-4::after {
  border-color: #00ffda; /* california-orange */
}
